*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase debug logs
*-debug.log

# IDE files
.idea/
.kotlin/
.kiro/
.agents/
.artifacts/

docs/
skills-lock.json
